{% extends "base_layout.html" %}

{%  block content %}
<style>
    .btn-link {
        color: forestgreen;
    }

    .btn-link:hover {
        color: darkgreen;
        text-decoration: none;
    }

    .btn-outline-secondary:focus {
        background-color: silver;
        color: #4f4f4f;
        border-color: #aaaaaa;
    }
</style>
<div class="container-fluid">
<form method="GET">
    <h3>Выберите множества для показа</h3>
    <select name="first_set">
        <option value="0">---------</option>
        {% for set in sets %}
        <option value="{{ set.pk }}">{{ set }}</option>
        {% endfor %}
    </select>

    <select name="second_set">
        <option value="0">---------</option>
        {% for set in sets %}
        <option value="{{ set.pk }}">{{ set }}</option>
        {% endfor %}
    </select>

    <button onclick="window.location.reload()">Отобразить</button>
    <br><br>
</form>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><b>Редактировать проявление</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
      <div class="modal-body">
          <h9>Введите новое значение для проявления</h9>
            <br>
            {% csrf_token %}
            <input hidden="True" name="writing_id" id="writing_id" value="" />
            <input name="amount_sign" id="amount_sign" type="number" value="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <input type="submit" name="saveModal" type="button" class="btn btn-primary" value="Сохранить"></input>
      </div>
        </form>
    </div>
  </div>
</div>


    <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
<table id="table1" class="display table">
    {% if true_set %}
    <h3 class="sub-header"><strong> {{ true_set }} </strong></h3>
    <thead>
         <tr>
            <th hidden="True"></th>
            <th hidden="True"></th>
            <th hidden="True"></th>
            <th>Номер</th>
            <th>Признак</th>
            <th>Значение</th>
            <th>Проявление</th>
             <th></th>
          </tr>
         </thead>
    <tbody>
          {% for gen in gen_for_true_set %}
          <tr>
            <td hidden="True">{% url 'delete_general_writing' true_set.person_id gen.general_writing_id %}</td>
            <td hidden="True">{{ gen.general_writing_id }}</td>
            <td hidden="True">{{ gen.amount_sign }}</td>
            <td>{{ gen.general_sign_value.get_number}}</td>
            <td>{{ gen.general_sign_value.general_sign_type }}</td>
            <td>{{gen.general_sign_value.general_sign_value}}</td>
              <td>
             {% if gen.amount_sign %}
               {{gen.amount_sign}}/{{gen.amount_all}}
             {% endif %}
             </td>
            <td></td>
          </tr>
          {% endfor %}
    </tbody>
    {% endif %}
      </table>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <table id="table2" class="display table">
        {% if false_set %}
        <h3 class="sub-header"><strong>{{ false_set }}</strong></h3>
       <thead>
      <tr>
        <th hidden="True"></th>
        <th hidden="True"></th>
        <th hidden="True"></th>
        <!-- <th hidden="True">PK</th> -->
        <th>Номер</th>
        <th>Признак</th>
        <th>Значение</th>
        <th>Проявление</th>
          <th></th>
      </tr>
      </thead>
        <tbody>
         <tr>
        {% for gen in gen_for_false_set %}
        <td hidden="True">{% url 'delete_general_writing' false_set.person_id gen.general_writing_id %}</td>
        <td hidden="True">{{ gen.general_writing_id }}</td>
        <td hidden="True">{{ gen.amount_sign }}</td>
        <!--
        <td id="pkRow"
            data-delete-url="{% url 'delete_general_writing' false_set.person_id gen.general_writing_id %}"
            data-writing-id="{{ gen.general_writing_id }}"
            data-writing-amount="{{ gen.amount_sign }}">
            {{ gen.general_writing_id }}
        </td> -->
        <td>{{ gen.general_sign_value.get_number}}</td>
        <td>{{ gen.general_sign_value.general_sign_type }}</td>
        <td>{{gen.general_sign_value.general_sign_value}}</td>
              <td>
             {% if gen.amount_sign %}
               {{gen.amount_sign}}/{{gen.amount_all}}
             {% endif %}
             </td>
        <td></td>
      </tr>
      {% endfor %}
        </tbody>
      {% endif %}
      </table>
  </div>
    </div>
<br>
{% if true_set or false_set %}
<div style="width:100%" align="center">
    <p><strong>Добавить новый признак</strong></p>
    <form method="POST" id="genForm" data-cities-url="{% url 'ajax_load_values' %}" novalidate>
        {% csrf_token %}
        <table>
        {{gen_form.as_table}}
        </table>
        <br>
        <button class="btn btn-outline-secondary" type="submit">Добавить</button>
    </form>
    <br>
    <div>
        <button onclick="location.href='{% url 'gen_sign_type' %}' ">Редактировать признаки </button>
        <button onclick="editValue('{% url 'gen_sign_type' %}')">Редактировать значения выбранного признака</button>
        {% if true_set %}
        <button onclick="location.href='{% url 'person_detail' true_set.person_id %}'">Вернуться к множествам респондента</button>
        {% else %}
        <button onclick="location.href='{% url 'person_detail' false_set.person_id %}'">Вернуться к множествам респондента</button>
        {% endif %}

    </div>
</div>
{% endif %}
    </div>
{% endblock %}
 {% block js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
<script>
$(document).ready( function () {

   if ($('#table2 tr').length != 0) {

    var table2 = $('#table2').DataTable({

        "columnDefs": [
            {
            "targets": -1,
            "data": null,
            "defaultContent": "<button id='delete' class='btn btn-link btn-sm'><i class=\"fa fa-trash-o\"></i></button> <button id='edit' class='btn btn-link btn-sm' data-toggle='modal'><i class=\"fa fa-pencil\"></i></button>"
            },
        ],
                    language: {
                        'search' : 'Поиск по таблице:',
                        'paginate': {
                                "next":       "Вперед",
                                "previous":   "Назад"
                        },
                        'info': "Показано c _START_ по _END_ из _TOTAL_ записей",
                    },
                    "bLengthChange": false,
                    pageLength: 5,
    dom: 'B<"clear">lfrtip',
    buttons: {
        name: 'primary',
        buttons: []
        }
       }
    );
    }

   var table1 = $('#table1').DataTable({

        "columnDefs": [
            {
            "targets": -1,
            "data": null,
            "defaultContent": "<button id='delete' class='btn btn-link btn-sm'><i class=\"fa fa-trash-o\"></i></button> <button id='edit' class='btn btn-link btn-sm' data-toggle='modal'><i class=\"fa fa-pencil\"></i></button>"
            },
        ],
                    language: {
                        'search' : 'Поиск по таблице:',
                        'paginate': {
                                "next":       "Вперед",
                                "previous":   "Назад"
                        },
                        'info': "Показано c _START_ по _END_ из _TOTAL_ записей",
                    },
                    "bLengthChange": false,
                    pageLength: 5,
    dom: 'B<"clear">lfrtip',
    buttons: {
        name: 'primary',
        buttons: []

        }}
    );

    $("#id_general_sign_type").change(function () {
      var url = $("#genForm").attr("data-cities-url");
      var typeId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'general_sign_type': typeId
        },
        success: function (data) {
          $("#id_general_sign_value").html(data);
        }
      });
    });

   $('#table1 tbody').on( 'click', '#delete', function () {
        var data = table1.row( $(this).parents('tr') ).data();
        if (confirm("Вы уверены, что хотите удалить признак подписи?")) {
                location.href = data[0];
        }
    } );


    $('#table1 tbody').on( 'click', '#edit', function () {
        var data = table1.row( $(this).parents('tr') ).data();

        $(".modal-body #amount_sign").val( data[2] );
        $(".modal-body #writing_id").val( data[1] );
        $('#exampleModal').modal('show');
    } );


    $('#table2 tbody').on( 'click', '#delete', function () {
        var data = table2.row( $(this).parents('tr') ).data();
        if (confirm("Вы уверены, что хотите удалить признак подписи?")) {
                location.href = data[0];
                // var deleteUrl = $("#pkRow").attr("data-delete-url");
        }
    } );


    $('#table2 tbody').on( 'click', '#edit', function () {
        var data = table2.row( $(this).parents('tr') ).data();
        //var writingId = $("#pkRow").attr("data-writing-id");
        //var amountSign = $("#pkRow").attr("data-writing-amount");
        //alert(writingId);
        //alert(amountSign);

        $(".modal-body #amount_sign").val( data[2] );
        $(".modal-body #writing_id").val( data[1] );
        $('#exampleModal').modal('show');
    } );
} );


    $("#id_general_sign_type").change(function () {
      var url = $("#genForm").attr("data-cities-url");
      var typeId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'general_sign_type': typeId
        },
        success: function (data) {
          $("#id_general_sign_value").html(data);
        }
      });
    });

    function editValue(href) {
      type =  $("#id_general_sign_type").val();
      location.href = href + type + '/gen_sign_value'
    };
</script>
{% endblock %}