{% extends "base_layout.html" %}
{% block nav %}
<ul class="nav nav-tabs">
  <li id="uninformative-tab" class="nav-item">
    <a class="nav-link" href="{% url 'informativeness_research' %}">Малоинформативные признаки</a>
  </li>
  <li id="group-signs-tab" class="nav-item">
    <a class="nav-link" href="{% url 'group_signs' %}">Признаки по группам</a>
  </li>
</ul>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
  $(".nav-tabs a").click(function(e){
    $(this).tab('show');
    localStorage.setItem('activeTab', $(e.target).attr('href'));
  });
  var activeTab = localStorage.getItem('activeTab');

  if(activeTab){
      $('#myTab a[href="' + activeTab + '"]').tab('show');
  }
});
</script>
{% endblock %}