{% extends "base_layout.html" %}


{%  block content %}
<h1>ДСМ Частные признаки</h1>
<br>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <table class="table table-striped">
            <h3 class="sub-header"><strong>Положительное сходство частных признаков респондентов
                {% for person in general_set.2 %}
                <span> <i>{{ person }}, </i></span>
                {% endfor %}
            </strong></h3>
            <thead>
                <th>Сходства признаков на буквах</th>
                <th>Сходства признаков на обобщенных элементах</th>
                <th>Респонденты</th>
            </thead>
            <tbody>
            {% for sim in ps_sim %}
                <tr>
                    <td>
                        {% for ps_letter in sim.0 %}
                        <b>{{ ps_letter.get_jsm_number }}</b>
                        <br>
                        {{ ps_letter.get_str_pw }}
                        <br><br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for ps_gen in sim.1 %}
                         {{ ps_gen }}
                          <br>
                         {% endfor %}
                    </td>
                    <td>
                        {% for person in sim.2 %}
                        <b>{{ person.jsm_number_print }}</b>
                        <br>
                        {{ person }}
                        <br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
