{% extends "base_layout.html" %}

{%  block content %}
<style>
    .btn-link {
        color: forestgreen;
    }

    .btn-link:hover {
        color: darkgreen;
        text-decoration: none;
    }

    .btn-outline-secondary:focus {
        background-color: silver;
        color: #4f4f4f;
        border-color: #aaaaaa;
    }

    .dataTables_filter input { width: 330px }
</style>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Редактировать название признака</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    <br>
                    {% csrf_token %}
                    <input hidden="True" name="type_id" id="type_id" value=""/>
                    <input name="type" id="type" type="text" value=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <input type="submit" name="saveModal" type="button" class="btn btn-primary"
                           value="Сохранить">
                </div>
            </form>
        </div>
    </div>
</div>
<button class="btn btn-link btn-lg" onclick="location.href = '{{ prev_page }}'"><i class="fa fa-angle-left"></i> Назад
</button>
<div class="container">
<table id="table_id" class="display table table-striped" align="center"  style="width:100%">
  <thead>
  <tr>
    <th hidden="True">PK</th>
    <th hidden="True">DELETE</th>
    <th>Номер группы признака</th>
    <th>Номер признака</th>
    <th>Признак</th>
    <th hidden="True"></th>
  </tr>
  </thead>
  <tbody>
  {% for sign in part_signs %}
  <tr>
    <td hidden="True">{{ sign.pk }}</td>
    <td hidden="True">{% url 'delete_part_sign' sign.pk %}</td>
    <td>{{ sign.get_type_number }}</td>
	<td>{{ sign.get_number }}</td>
	<td>{{ sign.get_str_pw }}</td>
    <td></td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
    {% endblock %}
    {% block js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#table_id').DataTable({

                    "columnDefs": [
                        {
                            "targets": -1,
                            "data": null,
                            "defaultContent": "<button id='delete' class='btn btn-link btn-sm'><i class=\"fa fa-trash-o\"></i></button> <button id='edit' class='btn btn-link btn-sm' data-toggle='modal'><i class=\"fa fa-pencil\"></i></button>"
                        },
                    ],

                    pageLength: 5,
                    dom: 'B<"clear">lfrtip',
                    buttons: [{extend: 'copy', className: 'btn btn-outline-secondary btn-sm'},
                        {extend: 'csv', className: 'btn btn-outline-secondary btn-sm'},
                        {extend: 'excel', className: 'btn btn-outline-secondary btn-sm'},
                        {extend: 'pdf', className: 'btn btn-outline-secondary btn-sm'}],

                    language: {
                      'search' : 'Поиск по таблице:',
                      "paginate": {
                                "next":       "Вперед",
                                "previous":   "Назад"
                        },
                      "info": "Показано c _START_ по _END_ из _TOTAL_ записей",
                    },
                    "bLengthChange": false,


                }
            );

            $('#table_id tbody').on( 'click', '#delete', function () {
                var data = table.row( $(this).parents('tr') ).data();
                if (confirm("Вы уверены, что хотите удалить признак?")) {
                        location.href =  data[1];
                }
            } );

            /*$('#table_id tbody').on('click', '#edit', function () {
                var data = table.row($(this).parents('tr')).data();
                $(".modal-body #type").val(data[2]);
                $(".modal-body #type_id").val(data[0]);
                $('#editModal').modal('show');
            });*/

        });
    </script>
</div>
{% endblock %}