{% extends "base_layout.html" %}

{%  block content %}
<div class="row">
    <div class="col-2"> <!-- col-lg-6 col-md-6 col-sm-6 col-xs-6 col-2-->
        <form id="testForm" method="GET" data-tests-url="{% url 'ajax_load_tests' %}">
            <h5>Выберите респондента</h5>
            <select id="person" name="person">
                <option value="0">---------</option>
                {% if selected_person %}
                    <option value="{{ selected_person.pk }}" selected>{{ selected_person }}</option>
                {% endif %}
                {% for person in persons %}
                    <option value="{{ person.pk }}">{{ person }}</option>
                {% endfor %}
            </select>
            <h5>Выберите тестовый образец</h5>
            <select id="test_signature2" name="test_signature2">
                <option value="0">---------</option>
                {% if other_tests %}
                <option value="{{selected_test.pk}}" selected>{{selected_test.get_dropdown_value}}</option>
                {% for test in other_tests %}
                <option value="{{test.pk}}">{{test.get_dropdown_value}}</option>
                {% endfor %}
                {% endif %}
            </select>


            <select id="test_signature" name="test_signature">
                <option value="0">---------</option>
                {% if selected_test %}
                <option value="{{selected_test.pk}}" selected>{{selected_test.get_dropdown_value}}</option>
                {% endif %}
            </select>
            <br>
            <div>
            <br>
                <input type="radio" id="signChoice1"
                    name="signs" value="all_signs" {% if is_all_signs %} checked {% endif %}>
                <label for="signChoice1">все признаки</label>
				<br>
                <input type="radio" id="signChoice2"
                 name="signs" value="part_signs" {% if not is_all_signs %} checked {% endif %}>
                <label for="signChoice2">частные признаки</label>
            </div>
            <br>
            <button onclick="window.location.reload()">Вычислить</button>
        </form>
    </div>
    <div class="col-10"> <!-- col-lg-6 col-md-6 col-sm-6 col-xs-6  col-lg-10-->
        {% if selected_person %}
        <table class="table table-striped">
           <h3 class="sub-header"><strong> {{ selected_test.get_dropdown_value }} </strong></h3>
            <thead>
                <th class="col-3">Множество (+)-гипотез, вошедших в тестовый образец</th>
                <th class="col-3">Множество (-)-гипотез, вошедших в тестовый образец</th>
                <th class="col-3">Множество (+)-гипотез, не вошедших в тестовый образец</th>
                <th class="col-3">Множество (-)-гипотез, не вошедших в тестовый образец</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% for val_key, amount in x.items %}
                        <strong>{{ val_key.get_jsm_number }}</strong>
                            <br>
                            {{ val_key.get_str_type }} : <i>{{ val_key.get_str_value }}</i>
                            {% if amount and amount != 1%}
                                (кол-во {{ amount }})
                            {% endif %}
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for val_key, amount in y.items %}
                        <strong>{{ val_key.get_jsm_number }}</strong>
                            <br>
                            {{ val_key.get_str_type }} : <i>{{ val_key.get_str_value }}</i>
                            {% if amount and amount != 1%}
                                (кол-во {{ amount }})
                            {% endif %}
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for val_key, amount in z.items %}
                        <strong>{{ val_key.get_jsm_number }}</strong>
                            <br>
                            {{ val_key.get_str_type }} : <i>{{ val_key.get_str_value }}</i>
                            {% if amount and amount != 1%}
                                (кол-во {{ amount }})
                            {% endif %}
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for val_key, amount in v.items %}
                        <strong>{{ val_key.get_jsm_number }}</strong>
                            <br>
                            {{ val_key.get_str_type }} : <i>{{ val_key.get_str_value }}</i>
                            {% if amount and amount != 1 %}
                                (кол-во {{ amount }})
                            {% endif %}
                            <br>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>

        </table>
        <!-- <h3>Вес гипотезы: <strong>{{ p }}</strong></h3> -->
        <h3>Вывод: <strong>{{ decision }}</strong></h3>
        {% endif %}
    </div>
</div>





{% endblock %}

{% block js %}
<script>
$(document).ready( function () {
    $("#test_signature").hide();
     var url = $("#testForm").attr("data-tests-url");
     var personId = $("#person").val();
     $.ajax({
            url: url,
            data: {
              'person_id': personId
            },
            success: function (data) {
              $("#test_signature").html(data);
            }
          });
});
$("#person").change(function () {
          $("#test_signature2").hide();
          $("#test_signature").show();
          var url = $("#testForm").attr("data-tests-url");
          var personId = $(this).val();
          $.ajax({
            url: url,
            data: {
              'person_id': personId
            },
            success: function (data) {
              $("#test_signature").html(data);
            }
          });
        });
</script>
{% endblock %}