/*body{*/
/*    !*background-color: #5E5694;*!*/
/*    !*background-image: url(/static/stars.png);*!*/
/*    !*background-repeat-y: no-repeat;*!*/
/*    color: #fff;*/
/*}*/


h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
}

/*a, a:hover, a:visited {*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*}*/


/*.contents {*/
/*    !*margin-left: 40px;*!*/
/*    margin-top: 30px;*/
/*}*/

.topnav {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 20px;
}

/*.topnav a {*/
/*    float: left;*/
/*    color: #f2f2f2;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*    font-size: 17px;*/
/*}*/

/*.topnav a:hover {*/
/*    background-color: #ddd;*/
/*    color: black;*/
/*}*/

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.nav {
    margin-bottom: 30px;
}

.results {
    max-width: 800px;
}

.radio-toolbar {
    display: inline-flex;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    background-color: #ffffff;
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    margin: 5px;
}

.radio-toolbar label:hover {
    background-color: #dfd;
}

/*.radio-toolbar input[type="radio"]:focus + label {*/
/*    border: 2px dashed #444;*/
/*}*/

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}

.clicked {
    background-color: #bfb;
    border-color: #4c4;
}

.breadcrumb {
    background-color: #ffffff;
}

.form-group label {
    margin: auto 20px auto 20px;
}

.btn-primary {
    background-color: #4CAF50;
    border-color: #19865C;
}

.btn-primary:hover {
    background-color: #44cc44;
    border-color: #19865C;
}

.contents {
    margin: 20px 40px 20px 40px;
    max-width: max-content;
}

.description {
    margin-bottom: 30px;
}

.table-striped {
    border: 1px;
}

.question {
    max-width: 450px;
}