{% extends "base_layout.html" %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href='{% static "stylesheets/qstnrs/styles.css" %}'>
<style>
    .container {
        /*margin-right: 5%;*/
        /*margin-left: 5%;*/
        max-width: 95%;
    }

    .btn-link {
        color: forestgreen;
    }


    button[name="form-submit"] {
        margin-left: 20%;
        margin-top: 10px;
    }

    input[name="to_excel"] {
       margin-top: 10px;
    }

    /*.form-control {*/
    /*    font-size: 14px;*/
    /*}*/
</style>
{% endblock %}

{%  block content %}

<div class="container">
    <h3>Сходства по подписям</h3>
    <br>
    <div class="nav row" name="navbar">
    <form class="form-inline">
        <div class="col-lg form-group">

            <label for="select_resps_minimum">Минимум респондентов в сходстве:</label>
            <input type="number" min="1" max="5" class="form-control" id="select_resps_minimum"
                   name="resps_minimum" value="{{resps_minimum}}">
            <label for="div_param">Деление на + и - :</label>
            <select class="form-control" id="div_param" name="div_param">
                <option value="1" {% if div_param == 1 %} selected="selected" {% endif %}>
                    по полу респондентов
                </option>
                <option value="2" {% if div_param == 2 %} selected="selected" {% endif %}>
                    по шкале "Возбудимость" (ОЧХ)
                </option>
            </select>

            <div class="w-100" style="margin: 5px;"></div>
            <label for="select_gen_elem">Cходства признаков подписей по:</label>

            <select name="sim_signs" class="form-control" id="select_gen_elem"
                    name="select_gen_elem">
                <option value="gen_elem" {% if is_gen_elem %} selected {% endif %}>
                    обобщенные элементы
                </option>
                <option value="groups" {% if not is_gen_elem %} selected {% endif %}>
                    группы
                </option>
            </select>
            <label for="verity">Подлинные или поддельные:</label>
            <select class="form-control" id="verity" name="verity">
                <option value="1" {% if verity == 1 %} selected="selected" {% endif %}>
                    Подлинные
                </option>
                <option value="0" {% if verity == 0 %} selected="selected" {% endif %}>
                    Поддельные
                </option>
            </select>

        </div>
                                            <button class="btn btn-primary" name="form-submit" type="submit">Применить</button>
                                    <input class="btn btn-link" name="to_excel" type="submit" value="Скачать excel">
<!--                <button type="submit">Применить</button>-->
    </form>
</div>
    <div class="row">
        <div class="col-lg">
            <h5 class="sub-header">Количество положительных сходств: {{ quantity_plus }}</h5>
            <hr>
            {% for sim in sim_plus %}
            <div class="row">
                {% for s in sim %}
                <div class="col-lg">
                    {% for el in s %}
                    {{ el }}
                    <br>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="col-lg">
            <h5 class="sub-header">Количество отрицательных сходств: {{ quantity_minus }}</h5>
            <hr>
            {% for sim in sim_minus %}
            <div class="row">
                {% for s in sim %}
                <div class="col-lg">
                    {% for el in s %}
                    {{ el }}
                    <br>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

<!--</div>-->
<!--<script>-->
<!--    $("select").change(function () {-->
<!--        $("form").submit()-->
<!--    });-->
<!--    $("input").change(function () {-->
<!--        $("form").submit()-->
<!--    });-->
<!--</script>-->
{% endblock %}

<div class="row">

    <div class="col-md-auto" style="max-width: 50%">
        <h4 class="sub-header">Количество положительных сходств: {{ quantity_plus }}</h4>
        <table class="table-striped">
            <thead>
            <th>Сходства</th>
            <th>Респонденты</th>
            </thead>
            <tbody>
            {% for sim in sim_plus %}
            <tr>
                {% for s in sim %}
                <td>
                    {% for el in s %}
                    {{ ell }}
                    <br>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-auto" style="max-width: 50%">
        <h4 class="sub-header">Количество отрицательных сходств: {{ quantity_minus }}</h4>
        <table class="table-striped">
            <thead>
            <th>Сходства</th>
            <th>Респонденты</th>
            </thead>
            <tbody>
            {% for sim in sim_minus %}
            <tr>
                {% for s in sim %}
                <td>
                   {% for el in s %}
                    {{ el }}
                    <br>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
