{% extends 'base_layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href='{% static "stylesheets/qstnrs/styles.css" %}'>
<style>
    .pers {
        color: forestgreen;
    }
    .pers:hover {
        color: darkgreen;
    }
</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <p style="font-size: 18px;">Чтобы перейти к результатам конкретного респондента, нажмите на его фамилию в списке<br>или
    <a class="pers" href="{% url 'person_list' %}">выберите респондента из списка</a></p>
<!--        <p style="font-size: 18px;">Этот опросник прошло {{cross_persons}} человек с описанными общими признаками подписи.</p>-->

<div class="nav" name="navbar">
    <form class="form-inline">
        <div class="form-group">
                    <label for="select_scale">Шкала:</label>
                    <select class="form-control small"id="select_scale" name="select_scale">
                        {% for scale in scales %}
                        <option value="{{scale.scale_id}}"
                                {% if scale.scale_id == scale_id %} selected="selected" {% endif %}>
                            {{scale}}
                        </option>
                        {% endfor %}
                    </select>

                    <label for="select_partitioning">Разбиение:</label>
                    <select class="form-control" id="select_partitioning" name="select_partitioning">
                        {% for partitioning in partitionings %}
                        <option value="{{partitioning.partitioning_scale_name_id}}" {% if partitioning.partitioning_scale_name_id == partitioning_scale_name_id %} selected="selected" {% endif %}>
                            {{partitioning}}
                        </option>
                        {% endfor %}
                    </select>

        </div>
    </form>
</div>
    </div>

    <div class="row justify-content-md-center">
        <div name="results" class="col-lg results">
    <table class="table">
        <tr>
            <th>Респондент</th>
            <th>Сырые баллы</th>
            <th>Финальные баллы</th>
            <th>Оценка</th>
        </tr>
       {% for person, raw_score, result_score, ass in output_table %}
        <tr>

            <td><a class="pers" href="{% url 'tests' %}?select_person={{person.pk}}&select_questionnaire={{questionnaire_id}}&select_partitioning=2">{{person}}</a></td>
            <td>{{raw_score}}</td>
            <td>{{result_score}}</td>
            <td>
               {{ass}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
    </div>

</div>
<script>
    $("select").change(function () {
        $("form").submit()
    });
    $("sort_ass").click(function (){

    })
</script>
{% endblock %}